<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Add</title>
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.min.css">
    <link rel="stylesheet" href="{% static 'css/kotxea.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<h1>Add</h1>

<form action="addrecordPer/" method="post">
    {% csrf_token %}
    Id_Kotxea:<br>
    <input name="id_kotxea">
    <br><br>
    Izena:<br>
    <input name="izena">
    <br><br>
    Abizena:<br>
    <input name="abizena">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>